<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="12101PriLee.Renumb" Publisher="CN=6990188A-387C-41AC-9017-3EE39A82F191" Version="1.1.0.2" />
  <Properties>
    <DisplayName>Renumb</DisplayName>
    <PublisherDisplayName>PriLee</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="renumb.App">
      <m2:VisualElements DisplayName="Renumb" Description="renumb" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Untitled-2.png" Square30x30Logo="Untitled-3.png">
        <m2:DefaultTile ShortName="ReNumb" Wide310x150Logo="Untitled-1.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#FE2502" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>